@charset "UTF-8";
body {
    background-color: #f4e1d2;
    color: #000000;
    font-family: Georgia, serif;
}

header {
    background-color: #9db89e;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

nav {
    text-align: center;
    margin: 20px;
}

a:hover {
    background-color: #2e8b57;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}
